Makefile*       eol=lf
*.sh            eol=lf
*.sln           eol=crlf
*.vcxproj*      eol=crlf
*.rc            eol=crlf
*.yml           eol=crlf
.gitattributes  export-ignore
.gitignore      export-ignore

